@import "tailwindcss";

@theme {
  /* Mengatur font default menjadi Inter agar terlihat modern & profesional */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom Styles */
html {
  scroll-behavior: smooth;
}

body {
  /* Menggunakan variable warna default tailwind */
  background-color: white;
  color: #171717; /* Neutral-900 */
  -webkit-font-smoothing: antialiased;
}

/* Kustomisasi scrollbar minimalis */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}